.header{
  width: 100%;
  height: 2rem;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.header .button-wrap{
  width: 94%;
  height: 100%;
  background: #F6F6F7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .button-wrap > button{
  cursor: pointer;
  font-size: 0.7rem;
  margin-right: 10%;
  border: 0;
  background-color: transparent;
  color: #888888;
  outline: none;
}
.header .button-wrap > button.active{
  background: #ffffff;
  border: 1px solid #CCCCCC;
  color: #000000;
  border-bottom-color: transparent;
  z-index: 1;
}

@media (max-width: 768px){
  .header{
    margin-top: 4%;
  }

  .header .button-wrap{
    width: 100%;
  }
}